body,
html {
  margin: 0;
  /* display: flex; */
  /* justify-content: center; */
  width: 100vw;
}

* {
  margin: 0;
}

img {
  width: 100%;
}

.navbar {
  background-color: coral;
  margin: 0 auto;
}
